/*
 * {{ func_prefix_lowercase }}.h
 *
 * Generated on: {{ generated_on }}
 */

#ifndef {{ func_prefix_uppercase }}_H_
#define {{ func_prefix_uppercase }}_H_

#include <stdint.h>
#include <stdbool.h>

void {{ func_prefix_lowercase }}_init(bool (*send_func)(uint8_t ch), void (*error_func)(void));

{{# log_msg_types }}
/**
 * Log message text: {{{ text }}}
 */
void {{ func_prefix_lowercase }}_{{ name_lowercase }}({{ function_param_str}});

{{/ log_msg_types }}

#endif /* {{ func_prefix_uppercase }}_H_ */

