/*
 * {{ func_prefix_lowercase }}.c
 *
 * Generated on: {{ generated_on }}
 */

#include <stddef.h>

#include "{{ func_prefix_lowercase }}.h"

{{# messages }}
#define {{ name_uppercase }} {{ code }}
{{/ messages }}

static uint8_t (*send)(uint8_t *msg_buf, uint8_t msg_buf_len) = NULL;
static void (*error)(void) = NULL;

static void send_msg(uint8_t *msg_buf, uint8_t msg_buf_len)
{
	if (send == NULL || error == NULL) {
		return;
	}

	if (send(msg_buf, msg_buf_len) != msg_buf_len) {
		error();
	}
}

void {{ func_prefix_lowercase }}_init(uint8_t (*send_func)(uint8_t *msg_buf, uint8_t msg_buf_len), void (*error_func)(void)) 
{
	send = send_func;
	error = error_func;
}

{{# messages }}
void {{ func_prefix_lowercase }}_{{ name_lowercase }}({{ function_param_str }})
{
	uint8_t buf[{{ message_buffer_len }}];

	buf[0] = {{ name_uppercase }};

	{{# argument_to_bytes }}
	{{# . }}
	buf[{{ pos }}] = {{{ conversion }}};
	{{/ . }}

	{{/ argument_to_bytes }}
	send_msg(buf, {{ message_buffer_len }});
}

{{/ messages }}
